/* Default styles */
.gen {
    border: 2px solid tomato;
    height: auto; /* Adjust to fit content */
    width: 70%;
    margin: auto;
    padding: 50px;
    font-size: 3vw; /* Adjust font size based on viewport width */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 3vw;
    border: 2px solid;
    padding: 10px;
}

.radio {
    height: 30px;
    width: 30px;
}

.sub {
    font-size: 3vw;
    padding: 10px 25px;
}


